{% extends "index.html" %}
{% block content %}
                    <div class="row">
                         <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Tags</div>
                                <div class="card-body">
                                    <div class="inline-code">
                                        <div>
                                            <table id="tagged_projects" class="datatable table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Project</th>
                                                    <th>Tag</th>
                                                    <th>Datum</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for project in tags %}
                                                <tr>
                                                        <td><a href="{{ project.clone_url }}">{{ project.name }}</a></td>
                                                        <td>{{ project.tag }}</td>
                                                        <td>{{ project.date }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Commits per week number</div>
                                <div class="card-body">
                                    <div class="inline-code">
                                        <div>
                                          <canvas id="commits_week"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Commits total</div>
                                <div class="card-body">
                                    <div class="inline-code">
                                        <div>
                                          <canvas id="commits_total"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Commit hours</div>
                                <div class="card-body">
                                    <div class="inline-code">
                                        <div>
                                          <canvas id="commits_hours"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<script>
    const project_name = "{{ project }}"
    var canvas_map = {}

    function handle_legend_click(e, legendItem, legend) {
       const index = legendItem.datasetIndex;
       const ci = legend.chart;
       for (let i = 0; i < ci.data.datasets.length; i++) {
            ci.hide(i)
        }
       if(ci.singleindex){
            if(!legendItem.hidden) {
                for (let i = 0; i < ci.data.datasets.length; i++) {
                    ci.show(i)
                }
                ci.update("none")
                ci.singleindex = false
            } else {
                ci.show(index)
            }
       } else {
            ci.show(index)
            ci.singleindex = true
       }
    }

    function show_commit_times() {
        $.get("/get_commit_times/" + project_name, function (data, status) {
            const ctx = document.getElementById("commits_hours");
            if (!canvas_map.commits_week) {
                canvas_map.commits_week = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: data.dataset
                    },
                    options: {
                        animations: false,
                        responsive: true,
                        maintainAspectRatio: true,
                        scales: {
                            x: {
                                stacked: true
                            },
                            y: {
                                beginAtZero: true,
                                stacked: true
                            }
                        },
                        title: {
                            display: true,
                            text: 'Totaal commits per team per uur'
                        },
                        plugins: {
                            legend: {
                                onClick: handle_legend_click
                            }
                        }
                    }
                });
            }
        })
        return this
    }

    function show_commit_weeks() {
        $.get("/get_commit_weeks/" + project_name, function (data, status) {
            const ctx = document.getElementById("commits_week");
            let data_set = data.data
            let week_labels = data.labels
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: week_labels,
                    datasets: data_set
                },
                options: {
                    animations: false,
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            beginAtZero: true,
                            stacked: true
                        }
                    },
                    title: {
                        display: true,
                        text: 'Totaal commits per team per uur'
                      },
                    plugins: {
                      legend: {
                        position: 'right',
                        onClick: handle_legend_click
                      },
                    }
                }
            });
        })
        return this
    }

    function show_commit_number() {
        $.get("/get_commit_number/" + project_name, function (data, status) {
            const ctx = document.getElementById("commits_total");
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.map(row => row.name),
                    datasets: [
                        {
                            label: "Commits",
                            data: data.map(row => row.number_commits)
                        }

                    ]
                },
                options: {
                    responsive: true,
                    indexAxis: 'y',
                    plugins: {
                      legend: {
                        position: 'right'
                      },
                      title: {
                        display: true,
                        text: 'Totaal commits per team'
                      }
                    }
                }
            });
        })
        return this
    }
    show_commit_times()
    show_commit_weeks()
    show_commit_number()

    let table = $('#tagged_projects').DataTable({
        "order": [[ 2, "desc" ]],
        "dom": 'frtip'
    });
</script>
{% endblock %}
