{% extends "index.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">Project info</div>
                                <div class="card-body">
                                    <p class="card-title">Project info for configured <a href="https://github.com/orgs/{{ project_info.github_org }}/repositories">RAC</a></p>
                                    <div class="table-responsive">
                                        <table class="datatable table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Project</th>
                                                    <th>Github link</th>
                                                    <th>Last refresh</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for project in project_info.projects %}
                                                <tr>
                                                    <th scope="row">{{ project.label }}</th>
                                                    <td><a href="https://github.com/orgs/{{ project_info.github_org }}/repositories?q={{ project.name }}&type=all&language=&sort=">{{ project.name }}</a></td>
                                                    <td class="timestamp">{{ project.last_updated }}</td>
                                                    <td><button class="refresh" data-project="{{ project.name }}">Refresh</button></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">Umatched projects</div>
                                <div class="card-body">
                                    <p class="card-title">Projects not backed up from <a href="https://github.com/orgs/{{ project_info.github_org }}/repositories">RAC</a></p>
                                    <table id="unmatched_projects" class="datatable table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Project</th>
                                            <th>URL</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for project in unmatched %}
                                        <tr>
                                                <td>{{ project.name }}</td>
                                                <td><a href="{{ project.clone_url }}">{{ project.clone_url }}</a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

<script>
    $("button.refresh").on("click", function() {
        const project = $(this).data("project")
        $.get("/refresh_project/" + project, function (data, status) {
            if(data.update_date) {
                $(this).parent().parent().find("td.timestamp").text(data.update_date)
            }
        })
    })

    let table = new DataTable('#unmatched_projects');

</script>
{% endblock %}
